.register {
    &__container {
        padding: 150px 0;
    }

    &__title {
        text-align: center;
    }

    &__form {
        width: 40%;
        height: auto;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
        border-radius: 20px;
        padding: 40px 40px;
        margin: auto;
    }

    &__form-buttons {
        margin-top: 20px;
    }

    &__form-item {
        background-color: #eee;
        border: none;
        padding: 12px 15px;
        margin: 8px 0;
        width: 100%;
    }

    &__button {
        border-radius: 20px;
        border: 1px solid #FF4B2B;
        background-color: #FF4B2B;
        color: #FFFFFF;
        font-size: 12px;
        font-weight: bold;
        padding: 12px 45px;
        letter-spacing: 1px;
        text-transform: uppercase;
        transition: transform 80ms ease-in;
    }

    &__registration {
        margin-top: 30px;
    }

    &__registration a {
        display: block;
        text-decoration: none;
        text-align: center;
        color: #333;
    }
}