.home {
    &__container {
        padding: 150px 0;
    }
    
    &__card-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }

    &__swiper-container {
        padding: 70px 0;
    }
}